# Approximate computation of integrals

In [7]:
import numpy as np
import pandas as pd

In [8]:
eps = 10 ** -7
a = 2
b = 3

def func(x):
    return np.exp(x) / (x + np.log(x))

In [9]:
def trapeze_formula(f, N, a, b):
    h = (b - a) / N
    x_arr = [a + h * k for k in range(N + 1)]
    return h * ((f(x_arr[0]) + f(x_arr[N])) / 2 + sum(map(lambda x: f(x), x_arr[1:N])))


def simpson_formula(f, N, a, b):
    h = (b - a) / N
    x_arr = [a + h * k for k in range(N + 1)]
    I = 0
    for k in range(N):
        I += f(x_arr[k]) + 4 * f((x_arr[k] + x_arr[k + 1]) / 2) + f(x_arr[k + 1])
    return h / 6 * I
    
    
def compute_integral(formula, eps, a, b, m):
    N = 2
    Q_1 = formula(func, N, a, b)
    R = np.inf
    df = pd.DataFrame([{'N': N, 'h': (b - a) / 2, '$Q_h$': Q_1, '$R_h$': '-'}])
    
    while abs(R) > eps:
        N *= 2
        Q_0 = Q_1
        Q_1 = formula(func, N, a, b)
        R = (Q_1 - Q_0) / (2 ** m - 1)
        df = pd.concat([df, pd.DataFrame([{'N': N, 'h': (b - a) / N, '$Q_h$': '{:.8f}'.format(Q_1), '$R_h$': '{:.8f}'.format(R)}])], ignore_index=True)
    return df

In [10]:
compute_integral(trapeze_formula, eps, a, b, 2)

       N         h       $Q_h$        $R_h$
0      2  0.500000    3.694055            -
1      4  0.250000  3.66155995  -0.01083184
2      8  0.125000  3.65340371  -0.00271875
3     16  0.062500  3.65136258  -0.00068038
4     32  0.031250  3.65085217  -0.00017014
5     64  0.015625  3.65072456  -0.00004254
6    128  0.007812  3.65069265  -0.00001063
7    256  0.003906  3.65068468  -0.00000266
8    512  0.001953  3.65068268  -0.00000066
9   1024  0.000977  3.65068219  -0.00000017
10  2048  0.000488  3.65068206  -0.00000004

In [11]:
compute_integral(simpson_formula, eps, a, b, 4)

    N       h       $Q_h$        $R_h$
0   2  0.5000    3.650728            -
1   4  0.2500  3.65068496  -0.00000288
2   8  0.1250  3.65068221  -0.00000018
3  16  0.0625  3.65068203  -0.00000001

In [18]:
k = 4
A = [0.347854845137454, 0.652145154862546, 0.652145154862546, 0.347854845137454]
x = [-0.861136311594053, -0.339981043584856, 0.339981043584856, 0.861136311594053]

def kf_nast(A, x, a, b, f):
    ft = map(lambda xk: f((b - a) / 2 * xk + (a + b) / 2), x)
    return (b - a) / 2 * sum(map(lambda x, y: x * y, A, ft))

In [19]:
kf_nast(A, x, a, b, func)

3.6506819749541046